* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  overflow: hidden;
}

img {
  width: 60%;
  display: block;
}
